html, body {
	height: 100%;
} 
html {
	overflow-y: scroll;
}
body {
	margin: 0px;
}

img { 
	max-width: 100%; border-style: none; 
} 
*img { 
	width: 100%; border-style: none; 
}

div {
	width: 100%;
}
a {
	text-decoration: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
}

#wrapper {
	padding: 0px; 
	margin: 0px auto 0px auto; 
	width: 90%; 
	min-height: 100%; 
	max-width: 1280px; 
	min-width: 120px; 
	position: relative;
	height: auto;
}

.header {
	max-width: 100%;
	width: 100%;
	height: 100px;
	float: left;
	background-color: #FFFFFF;
	background-image: url('images/logo.gif');
	background-repeat: no-repeat;
	background-position: 10%;
}

		#links {
			width: 360px;
			max-width: 100%;
			height: 60px;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
			float: right;
			margin-top: 40px;
			margin-right: 50px;
		}
		#links a {
			text-decoration: none;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
		}
		#links a:hover {
			border-bottom: 3px solid #13B9AB;
			padding-bottom: 38px;
		}
		.verticalLine {
			border-right:1px solid black;
			height: 100%;
			position: relative;

		}

.menu {
	float: left;
	width: 33.3%;
	text-align: center;
}

.banner {
	height: 540px;
	background-color: #079f98;
	float: left;
	background-image: url('images/iphone.png');
	background-repeat: no-repeat;
	background-position: 30%;
}

#product_info {
	max-width: 100%;
	width:35%;
	margin-top: 180px;
	margin-right: -260px;
	float:right;
}
		#product_info p {
			color: #FFFFFF;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
		}

.button_up {
	margin-top: 1px;
	width:10%;
	height: 90px;
	max-width: 100%;
	float:right;
	opacity: 0.8;
	position: static;
	display: inline-block;
}
		#first {
			background-color: #079f98;
			background-image: url('images/button_up_first.png');
			background-repeat: no-repeat;
			background-position: center;
		}
		#second {
			background-color: #224745;
			background-image: url('images/button_up_second.png');
			background-repeat: no-repeat;
			background-position: center;
		}
		#third {
			background-color: #193534;
			background-image: url('images/button_up_third.png');
			background-repeat: no-repeat;
			background-position: center;
		}

.about {
	width: 100%;
	height: 800px;	
	max-width: 100%;
	float: left;
	background-image: url('images/about.png');
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 20px;
}
		.about #about_title, #about_content {
			text-align: center;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
			color: #AEAEAE;
		}
		#about_title {
			color: #4B4B4B;
		}

/* Table */
	
#container {
	width: 100%;
}
#tabs {
	font-size: 90%;
}
#tabs ul {
	float: left;
	width: 100%;
}
#tabs li {
	list-style: none;
	max-width: 100%;
}
* html #tabs li {
	display: inline-block;
}
#tabs li, #tabs li a {
	float: left;
	text-align: center;
}
#tabs ul li.active {
}
#tabs ul li.active a {
	color: #fff;
	float: left;
}
	#tabs ul li a img {
		vertical-align: middle;
	}
#tabs div {
	background: green;
	clear: both;
	min-height: 530px;
}

#tabs div h3 {

}
#tabs div p {
	line-height: 100%;
}
#tabs ul li a {
	width: 120px;
	height: 120px;
}
		#tab_first {
			background-repeat: no-repeat;
			background-position: center;
			background-color: #01646c;
		}
		#tab_second {
			background-repeat: no-repeat;
			background-position: center;
			background-color: #097b84;
		}
		#tab_third {
			background-repeat: no-repeat;
			background-position: center;
			background-color: #118f99;
		}
		#tab_fourth {
			background-repeat: no-repeat;
			background-position: center;
			background-color: #1da0aa;
		}
		#tab_fifth {
			background-repeat: no-repeat;
			background-position: center;
			background-color: #29b7c2;
		}
		#tab_sixth {
			background-repeat: no-repeat;
			background-position: center;
			background-color: #3ccad5;
		}




.info {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	float: left;
}

	#bigger {
		height: 510px;
		width: 65%;
		float: left;
		color: #3ccad5;
		text-align: center;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
		#bigger #one {
			font-size: 8em;
			font-weight: bold;
			margin-top: 40px;
			margin-bottom: -40px;
		}
		#two {
			font-size: 4em;
		}

	#smaller {
		height: 510px;
		width: 35%;
		background-color: #d8c800;
		background-image: url('images/info_smaller.png');
		background-repeat: no-repeat;
		background-position: center;
	}

#footer {
	width: 100%;
	max-width: 100%;
	height: 100px;
	float: left;
	text-align: center;
	padding-top: 10px;
	color: #AEAEAE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}