html, body {
	height: 100%;
} 
html {
	overflow-y: scroll;
}
body {
	margin: 0px;
}

img { 
	max-width: 100%; border-style: none; 
} 
*img { 
	width: 100%; border-style: none; 
}

div {
	width: 100%;
}

#wrapper {
	padding: 0px; 
	margin: 0px auto 0px auto; 
	width: 90%; 
	min-height: 100%; 
	max-width: 1280px; 
	min-width: 120px; 
	position: relative;
	height: auto;
}

.header {
	max-width: 100%;
	width: 100%;
	height: 100px;
	float: left;
	background-color: #FFFFFF;
	background-image: url('images/logo.gif');
	background-repeat: no-repeat;
	background-position: 10%;
}

		#links {
			width: 360px;
			max-width: 100%;
			height: 60px;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
			float: right;
			margin-top: 40px;
			margin-right: 50px;
		}
		#links a {
			text-decoration: none;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
		}
		#links a:hover {
			border-bottom: 3px solid #13B9AB;
			padding-bottom: 38px;
		}
		/*#links a:visited {
			color: black;
		}*/

		.verticalLine {
			border-right:1px solid black;
			height: 100%;
			position: relative;

		}

.menu {
	float: left;
	width: 33.3%;
	text-align: center;
}

.banner {
	height: 540px;
	background-color: #079f98;
	float: left;
	background-image: url('images/iphone.png');
	background-repeat: no-repeat;
	background-position: 30%;
}

#product_info {
	max-width: 100%;
	width:35%;
	margin-top: 180px;
	margin-right: -260px;
	float:right;
}
		#product_info p {
			color: #FFFFFF;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
		}

.button_up {
	margin-top: 1px;
	width:10%;
	height: 90px;
	max-width: 100%;
	float:right;
	opacity: 0.8;
	position: static;
}
		#first {
			background-color: #079f98;
			background-image: url('images/button_up_first.png');
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
		}
		#second {
			background-color: #224745;
			background-image: url('images/button_up_second.png');
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
		}
		#third {
			background-color: #193534;
			background-image: url('images/button_up_third.png');
			background-repeat: no-repeat;
			background-position: center;
			display: inline-block;
		}

.about {
	width: 100%;
	height: 800px;	
	max-width: 100%;
	float: left;
	background-image: url('images/about.png');
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 20px;
}
		.about #about_title, #about_content {
			text-align: center;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;;
			color: #AEAEAE;
		}
		#about_title {
			color: #4B4B4B;
		}


.tabs {
	width:100%;
	min-width: 100%;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
	.tabs nav {
		background: #FFFFFF;
	}
		.tabs nav button {
			width: 16.667%;
			height: 120px;
			float: left;
			position: relative;
			cursor: pointer;
			border: none;
		}
		.tabs nav button:before {
			margin-right: 10px;
			font-size: 1.8em;
			line-height: 0.4em;
		}

	 		.tabs nav button:first-child {

	 		}
	 		.activetab {
	 			border-top: 2px solid #737373 !important; 
	 		}
		
		/* window with tab content */
		.tabs .text_tabs {
			background-color: #01646C;
			clear: both;
		}
			.tabs .text_tabs div {
				padding: 12px;
				font-size: 0.8em;
			}
			.visibletext {
				display: block !important;
			}

			.tabs nav #button_center_first {
				
				background-image: url('images/button_center_1.png');
				background-repeat: no-repeat;
				background-position: center;
				background-color: #01646c;
			}
			.tabs nav #button_center_second {
				background-image: url('images/button_center_2.png');
				background-repeat: no-repeat;
				background-position: center;
				background-color: #097b84;
			}
			.tabs nav #button_center_third {
				background-image: url('images/button_center_3.png');
				background-repeat: no-repeat;
				background-position: center;
				background-color: #118f99;
			}
			.tabs nav #button_center_fourth {
				background-image: url('images/button_center_4.png');
				background-repeat: no-repeat;
				background-position: center;
				background-color: #1da0aa;
			}
			.tabs nav #button_center_fifth {
				background-image: url('images/button_center_5.png');
				background-repeat: no-repeat;
				background-position: center;
				background-color: #29b7c2;
			}
			.tabs nav #button_center_sixth {
				background-image: url('images/button_center_6.png');
				background-repeat: no-repeat;
				background-position: center;
				background-color: #3ccad5;
			}

.info {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	float: left;
}

	#bigger {
		height: 510px;
		width: 65%;
		float: left;
		color: #3ccad5;
		text-align: center;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}
		#bigger #one {
			font-size: 8em;
			font-weight: bold;
			margin-top: 40px;
			margin-bottom: -40px;
		}
		#two {
			font-size: 4em;
		}

	#smaller {
		height: 510px;
		width: 35%;
		background-color: #d8c800;
		background-image: url('images/info_smaller.png');
		background-repeat: no-repeat;
		background-position: center;
	}

#footer {
	width: 100%;
	max-width: 100%;
	height: 100px;
	float: left;
	text-align: center;
	padding-top: 10px;
	color: #AEAEAE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}