html, body {
	height: 100%;
} 
html {
	overflow-y: scroll;
}
body {
	margin: 0px;
}

img { 
	max-width: 100%; border-style: none; 
} 
*img { 
	width: 100%; border-style: none; 
}

div {
	width: 100%;
}
a {
	text-decoration: none;
}
* h1, h2, h3, p, a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#wrapper {
	padding: 0px; 
	margin: 0px auto 0px auto; 
	width: 90%; 
	min-height: 100%; 
	max-width: 1280px; 
	min-width: 120px; 
	position: relative;
	height: auto;
}

.header {
	max-width: 100%;
	width: 100%;
	height: 100px;
	float: left;
	background-color: #FFFFFF;
	background-image: url('images/logo.gif');
	background-repeat: no-repeat;
	background-position: 10%;
}

		#links {
			width: 360px;
			max-width: 100%;
			height: 60px;
			float: right;
			margin-top: 40px;
			margin-right: 50px;
		}
		#links a {
			text-decoration: none;
		}
		#links a:hover {
			border-bottom: 3px solid #13B9AB;
			padding-bottom: 38px;
		}
		.verticalLine {
			border-right:1px solid black;
			height: 100%;
			position: relative;

		}

.menu {
	float: left;
	width: 33.3%;
	text-align: center;
}

.banner {
	height: 540px;
	background-color: #079f98;
	float: left;
	background-image: url('images/iphone.png');
	background-repeat: no-repeat;
	background-position: 20%;
}

#product_info {
        max-width: 100%;
        width: 45%;
        margin-top: 180px;
        margin-right: -300px;
        float:right;
        color: #FFFFFF;
        opacity: 0.9;
}
        #product_info p {
            text-align: left;
            margin-top: -10px;
            margin-bottom: 20px;
        }
        #product_info h2 {
        	font-size: 1.8em;
        	margin-bottom: -20px;
        	margin-top: 50px;
        }
        #product_info #banner_buynow {
        	margin-top: 25px;
        }

.button_up {
        margin-top: 1px;
        width:10%;
        height: 90px;
        max-width: 100%;
        float:right;
        opacity: 0.8;
        position: static;
        display: inline-block;
}
		#first {
			background-color: #079f98;
			background-image: url('images/button_up_first.png');
			background-repeat: no-repeat;
			background-position: center;
		}
		#second {
			background-color: #224745;
			background-image: url('images/button_up_second.png');
			background-repeat: no-repeat;
			background-position: center;
		}
		#third {
			background-color: #193534;
			background-image: url('images/button_up_third.png');
			background-repeat: no-repeat;
			background-position: center;
		}

.about {
	width: 100%;
	height: 800px;	
	max-width: 100%;
	float: left;
	background-image: url('images/about.png');
	background-repeat: no-repeat;
	background-position: center 80%;
	text-align: center;
}
		#about_title {
			color: #4B4B4B;
			font-size: 2em;
		}
		#about_content {
			color: #AEAEAE;			
		}

/* Table */
	
#container {
	width: 100%;
}
#tabs {
	font-size: 90%;
}
	#tabs ul {
		width: 100%;
	}
	#tabs li {
		list-style: none;
		max-width: 100%;
		width: 16.667%;
	}
		#tabs li div {
		}
		* html #tabs li {
			display: inline-block;
		}
		#tabs li, #tabs li a {
			float: left;
			text-align: center;
		}
		#tabs ul li.active {
		}
		#tabs ul li.active a {
			color: #fff;
			float: left;
		}
		
#tabs div {
	clear: both;
	height: 530px;
}
#tab-1 {
	background-color: #01646c;
	background-image: url('images/laptop.png');
	background-position: 25%;
	background-repeat: no-repeat;
	}

	#tab-1 #buynow {
		margin-left: 65%;
		margin-top: 250px;
	}
	#tab-1 p {
		text-align: left;
		color: #FFFFFF;
		margin-left: 65%;
		margin-top: -130px;
	}
		#tab-1 span {
			font-size: 2em;
		}
			


	#tabs #tab-2 {
		background-color: #097b84;
	}
		#tabs #tab-2 p {
			color: #FFFFFF;
			text-align: center;
		}
	#tabs #tab-3 {
		background-color: #118f99;
	}
	#tabs #tab-4 {
		background-color: #1da0aa;
	}
	#tabs #tab-5 {
		background-color: #29b7c2;
	}
	#tabs #tab-6 {
		background-color: #3ccad5;
	}

#tabs ul li a {
	margin-left: -40px;
	width: 100%;
	height: 120px;
}
		#tab_first {
			background: url('images/button_center_1.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #01646c;
		}
		#tab_second {
			background: url('images/button_center_2.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #097b84;
		}
		#tab_third {
			background: url('images/button_center_3.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #118f99;
		}
		#tab_fourth {
			background: url('images/button_center_4.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #1da0aa;
		}
		#tab_fifth {
			background: url('images/button_center_5.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #29b7c2;
		}
		#tab_sixth {
			background: url('images/button_center_6.png');
			background-repeat: no-repeat;
			background-position: center;
			background-color: #3ccad5;
		}




.info {
	width: 100%;
	max-width: 100%;
	display: inline-block;
	float: left;
}

	#bigger {
		height: 510px;
		width: 65%;
		float: left;
	}
		#one {
			font-size: 8em;
			font-weight: bold;
			margin-top: 40px;
			margin-bottom: -40px;
			color: #3ccad5;
			text-align: center;
		}
		#two {
			font-size: 4em;
			color: #3ccad5;
			text-align: center;
		}

	#smaller {
		height: 510px;
		width: 35%;
		background-color: #d8c800;
		background-image: url('images/info_smaller.png');
		background-repeat: no-repeat;
		background-position: center;
	}

#footer {
	color: #2A2A2A;
	width: 100%;
	max-width: 100%;
	height: 100px;
	float: left;
	text-align: center;
	padding-top: 10px;
}